body {
  height: 100vh;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  margin: 0;
}

main {
  height: 100%;
  width: 100%;
  padding: 1rem;
}

.camera-view {
  width: 500px;
  height: 375px;
  background-color: rgb(175, 173, 173);
}

video {
  height: 100%;
  width: 100%;
}

.page {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 100px auto;
  grid-template-areas:
    "header header header"
    "content content content";
  height: 100%;
  width: 100%;
}

header {
  grid-area: header;
  justify-self: center;
  align-self: center;
}

.card-reader .icon {
  grid-area: content;
  justify-self: center;
}

.card-reader .icon > svg {
  height: 140px;
  width: 140px;
}

.card-reader .progress-spinner {
  margin-top: 5rem;
  grid-area: content;
  justify-self: center;
}

.content {
  grid-area: content;
}

.face-id .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face-id .content > * {
  margin: 1rem;
}

.no-cam-message {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.attendance-registered .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attendance-registered .content > * {
  margin: 1rem;
}

.attendance-registered .icon > svg {
  height: 100px;
  width: 100px;
}

.not-ready {
  pointer-events: none;
  text-decoration: none;
  color: black;
}
.not-ready::after {
  margin-left: 1rem;
  content: '(not implemented yet)'
}

p {
  max-width: 40ch;
}

li p {
  margin-top: .5rem;
  margin-left: .5rem;
}

.margin {
  margin: 1rem;
}

.padding {
  padding: 1rem;
}