:root {
  --grey: grey;
  --black: rgb(20, 20, 20);
  --blue: blue;
  --white: white;

  --background-color: var(--grey);
  --color-text: var(--black);
  --color-text-inverted: var(--white);
  --color-buttons: var(--blue);
  --color-icons: var(--blue);
}

html {}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

main {}

.aspect-ratio-wrapper {

}

.tablet {
  /* for a 4:3 aspect ratio */
  width: calc(80vh * 0.75);
  height: 80vh;
  background-color: var(--background-color);
  border: 10px solid black;
  color: var(--color-text);
}

.camera-view {
  width: 500px;
  height: 375px;
  background-color: rgb(175, 173, 173);
}

video {
  height: 100%;
  width: 100%;
}

.page {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  grid-template-rows: 100px auto;
  grid-template-areas: "header header header" "content content content" "content content content";
  height: 100%;
  width: 100%;
}

header {
  grid-area: header;
  justify-self: center;
  align-self: center;
}

.card-reader-icon.card-reader-icon>svg {
  height: 140px;
  width: 140px;
}

.center {
  height: 200px;
  display: flex;
  align-items: center;
  align-content: center;
}

.icon, .MuiCircularProgress-colorPrimary.MuiCircularProgress-colorPrimary {
  fill: var(--color-icons);
  color: var(--color-icons);
}

.icon svg {
  height: 100px;
  width: 100px;
}

.content {
  grid-area: content;
  justify-self: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face-id .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face-id .content>* {
  margin: 1rem;
}

.no-cam-message {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.attendance-registered- {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.attendance-registered .content > * {
  margin: 1rem;
}

.not-ready {
  pointer-events: none;
  text-decoration: none;
  color: black;
}

.not-ready::after {
  margin-left: 1rem;
  content: "(not implemented yet)";
}

p {
  max-width: 40ch;
}

li p {
  margin-top: 0.5rem;
  margin-left: 0.5rem;
}

.margin {
  margin: 1rem;
}

.padding {
  padding: 1rem;
}

.card-reader-error .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-reader-error .content>* {
  margin: 1rem;
}

.face-id-error .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.face-id-error .content>* {
  margin: 1rem;
}

.unknown-error .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.unknown-error .content>* {
  margin: 1rem;
}

.MuiButton-root.MuiButton-root {
  color: var(--color-text-inverted);
  background-color: var(--color-buttons);
}